Scenario1/bmi.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" minOccurs="0" />
                <xs:element name="datetime" type="xs:dateTime" minOccurs="0" />
                <xs:element name="bmi" type="xs:double" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>